<div class="landing">

  <div class="landing__head">
    <div class="landing__logo">li.<span class="orange-emphasis">lu</span></div>
    <div class="landing__section">Notre concept</div>
  </div>

  <div class="landing__container" id="landing__container">
    <section class="section landing__wrapper landing__concept">
      <div class="landing__part landing__part--smaller white">
        <%= image_tag 'icons/picto1.png', class: :landing__illu1 %>
        <div class="landing__content">
          <h1 class="landing__title">LI.LU ?</h1>
          <p class="landing__description"><span class="orange-emphasis">LI.LU</span> est une application de lecture partagée, conçue pour les enfants de 8 à 10 ans. L’interaction se fait grâce aux dessins.<br><span class="orange-emphasis">Nos valeurs</span> sont les suivantes : </p>
        </div>
        <div class="landing__values">
          <ul class="items">
            <li class="item">
              <div class="item__number">01</div>
              <div class="item__symbol"></div>
              <div class="item__title">LE <br>FUN</div>
            </li>
            <li class="item">
              <div class="item__number">02</div>
              <div class="item__symbol"></div>
              <div class="item__title">LE <br>PARTAGE</div>
            </li>
            <li class="item">
              <div class="item__number">03</div>
              <div class="item__symbol"></div>
              <div class="item__title">LA <br>SPONTANÉITÉ</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="landing__part landing__part--larger landing__media blue">
        <video class="landing__video" poster="images/poster.png" preload>
            <source src="video/teaser.mp4" />
        </video>
        <div class="landing__play-button">
          <div class="landing__play-button--icon"></div>
        </div>
      </div>
    </section>

    <section class="section landing__wrapper landing__instructions">
      <div class="landing__part landing__part--half landing__background" style="background-image:url('images/mockup.jpg')"></div>
      <div class="landing__part landing__part--half white">
        <%= image_tag 'icons/picto2.png', class: :landing__illu2 %>
        <div class="landing__content">
          <h1 class="landing__title">Comment <br>ça marche ?</h1>
          <p class="landing__description">Afin de partager leur vision de l’histoire, les enfants rencontrent des challenges visuels au cours de leur lecture. Une fois le challenge relevé, les enfants peuvent découvrir l’interprétation de leur ami de lecture et réagir s’ils le souhaitent. </p>
        </div>
        <div class="landing__process">
          <ul class="items landing__steps">
            <div class="landing__line"></div>
            <li class="item">
              <div class="item__number">01</div>
              <div class="item__symbol"></div>
              <div class="item__title">création <br>de l'avatar</div>
            </li>
            <li class="item">
              <div class="item__number">02</div>
              <div class="item__symbol"></div>
              <div class="item__title">temps de <br>lecture</div>
            </li>
            <li class="item">
              <div class="item__number">03</div>
              <div class="item__symbol"></div>
              <div class="item__title">challenge <br>dessin</div>
            </li>
          </ul>
          <ul class="items landing__steps">
            <div class="landing__line"></div>
            <li class="item">
              <div class="item__number">04</div>
              <div class="item__symbol"></div>
              <div class="item__title">découverte du <br>dessin de l'autre</div>
            </li>
            <li class="item">
              <div class="item__number">05</div>
              <div class="item__symbol"></div>
              <div class="item__title">réaction <br>via émojis</div>
            </li>
            <li class="item">
              <div class="item__number">06</div>
              <div class="item__symbol"></div>
              <div class="item__title">reprise <br>lecture</div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section landing__wrapper landing__user-test">
      <div class="landing__part landing__part--larger white">
        <%= image_tag 'icons/picto3.png', class: :landing__illu3 %>
        <div class="landing__content">
          <h1 class="landing__title">Testé, approuvé</h1>
          <p class="landing__description landing__hood">Nous avons réalisé un user test auprès de 20 écoliers du CE2/CM2 âgés de 8 à 11 ans à l’école primaire de Valsonne.</p>
          <p class="landing__description">3 extraits de Fantastique Maître Renard sont présentés aux binômes, s’ensuivent 3 consignes pour illustrer les différents passages. Une consigne figurative, une abstraite et une complémentaire. Après avoir achevé leur ouvrage, les binômes échangent leur dessins et annotent celui de leur partenaire avec des emojis. </p>
        </div>
        <div class="landing__results">
          <ul class="items">
            <li class="item">
              <div class="item__number">100%</div>
              <div class="item__symbol"></div>
              <div class="item__title">ont aimé comparer leurs dessins avec celui de leur partenaire</div>
            </li>
            <li class="item">
              <div class="item__number">100%</div>
              <div class="item__symbol"></div>
              <div class="item__title">ont aimé lire <br>une histoire avec <br>un autre enfant.</div>
            </li>
            <li class="item">
              <div class="item__number">95%</div>
              <div class="item__symbol"></div>
              <div class="item__title">aimeraient recommencer l’expérience</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="landing__part landing__part--smaller landing__background" style="background-image: url('images/paper-mockup.jpg')"></div>
    </section>

    <section class="section landing__wrapper landing__contact">
      <div class="landing__part landing__part--half white">
        <div class="landing__sketch">
          <div class="sketch__tools">
            <div class="sketch__color">
              <input type="color" id="colorpicker" value="#000000" class="sketch__color-picker">
            </div>
            <button class="sketch__clear" id="clear">
              <%= image_tag 'icons/clear.png', class: 'sketch__clear-icon' %>
            </button>
          </div>
          <canvas class="sketch__canvas" id="canvas"></canvas>
          <div class="sketch__download">
            <a id="saveToImage" class="sketch__download-cta">Télécharger mon dessin</a>
          </div>
        </div>
        <div class="landing__example">
          <div class="landing__example-explanation">
            <%= image_tag 'smiley.gif', class: :landing__gif %>
            <button class="landing__draw-cta" type="button" name="button">Un petit dessin pour la fin ?</button>
          </div>
        </div>
      </div>
      <div class="landing__part landing__part--half blue">
        <div class="landing__content">
          <h1 class="landing__title landing__title--sup">L'équipe</h1>
          <div class="landing__squad">
            <div class="landing__profils">
              <div class="profil">
                <div class="profil__avatar">
                  <img class="profil__avatar-source" src="images/avatars/mathilde.svg">
                </div>
                <h2 class="profil__name">Mathilde Herard</h2>
                <hr class="profil__hr">
                <h3 class="profil__job">Graphiste</h3>
                <ul class="profil__social">
                  <li class="profil__linkedin">
                    <a href="https://www.linkedin.com/in/mathilde-herard-60aa29102/" target="_blank">
                      <img class="profil__icon" src="images/icons/linkedin.png" alt="">
                    </a>
                  </li>
                  <li class="profil__behance">
                    <a href="https://www.behance.net/mathildehe058d" target="_blank">
                      <img class="profil__icon" src="images/icons/behance.png" alt="">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="profil">
                <div class="profil__avatar">
                  <img class="profil__avatar-source" src="images/avatars/julien.svg">
                </div>
                <h2 class="profil__name">Julien Dargelos</h2>
                <hr class="profil__hr">
                <h3 class="profil__job">Développeur</h3>
                <p class="profil__portfolio"><a href="https://juliendargelos.com/" target="_blank">juliendargelos.com</a></p>
                <ul class="profil__social">
                  <li class="profil__linkedin">
                    <a href="https://www.linkedin.com/in/juliendargelos/" target="_blank">
                      <img class="profil__icon" src="images/icons/linkedin.png" alt="">
                    </a>
                  </li>
                  <li class="profil__github">
                    <a href="https://github.com/juliendargelos" target="_blank">
                      <img class="profil__icon" src="images/icons/github.png" alt="">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="landing__profils">
              <div class="profil">
                <div class="profil__avatar">
                  <img class="profil__avatar-source" src="images/avatars/circe.svg">
                </div>
                <h2 class="profil__name">Circé Grand</h2>
                <hr class="profil__hr">
                <h3 class="profil__job">Développeur</h3>
                <p class="profil__portfolio"><a href="http://circegrand.fr/" target="_blank">circegrand.fr</a></p>
                <ul class="profil__social">
                  <li class="profil__linkedin">
                    <a href="https://www.linkedin.com/in/circegrand/" target="_blank">
                      <img class="profil__icon" src="images/icons/linkedin.png" alt="">
                    </a>
                  </li>
                  <li class="profil__github">
                    <a href="https://github.com/cerseig" target="_blank">
                      <img class="profil__icon" src="images/icons/github.png" alt="">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="profil">
                <div class="profil__avatar">
                  <img class="profil__avatar-source" src="images/avatars/clara.svg">
                </div>
                <h2 class="profil__name">Clara Vigourous</h2>
                <hr class="profil__hr">
                <h3 class="profil__job">Graphiste</h3>
                <ul class="profil__social">
                  <li class="profil__linkedin">
                    <a href="https://www.linkedin.com/in/clara-vigourous-7ba239113/" target="_blank">
                      <img class="profil__icon" src="images/icons/linkedin.png" alt="">
                    </a>
                  </li>
                  <li class="profil__behance">
                    <a href="https://www.behance.net/clara-vigourous" target="_blank">
                      <img class="profil__icon" src="images/icons/behance.png" alt="">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section landing__wrapper landing__application">
      <div class="landing__full">
        <div class="landing__advertising">
          <h1 class="landing__advertising-title">Il est temps, rejoins LI.<span class="orange-emphasis">LU</span> !</h1>
          <% link_to 'https://github.com/juliendargelos/lilu' do %>
            <%= image_tag 'icons/library.svg', class: 'landing__advertising-icon' %>
          <% end %>
        </div>
      </div>
      <div class="landing__footer">
        <div class="landing__logos">
          <% link_to 'https://www.gobelins.fr/formation/bddi-bachelor-designer-developpeur-interactif-cycle-1-option-graphisme-ou-developpement' do %>
            <%= image_tag 'logos/logo_gobelins-white.png', class: 'landing__logo-gobelins' %>
          <% end %>
          <% link_to 'http://www.cci.fr/' do %>
            <%= image_tag 'logos/logo_cci-white.png', class: 'landing__logo-cci' %>
          <% end %>
        </div>
      </div>
    </section>

  </div>
  <div class="landing__navigation"></div>

</div>
